@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Some adress<br />
    xxxxxx<br />
    <abbr title="Phone">P:</abbr>
    xxxxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:1295vikt@gmail.com">1295vikt@gmail.com</a><br />
</address>